
.idea/inspectionProfiles/profiles_settings.xml
.idea/MachineLearningLab.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/Lab1/dataset/abalone.zip
/.idea/inspectionProfiles/Project_Default.xml
/Lab2/.idea/inspectionProfiles/Project_Default.xml
/Lab2/.idea/vcs.xml
/Lab2/.idea/inspectionProfiles/profiles_settings.xml
/Lab2/.idea/modules.xml
/Lab2/.idea/misc.xml
/Lab2/.idea/Lab2.iml
/Lab2/.idea/.gitignore
